@import "tailwindcss/base";
@import url("@radix-ui/themes/styles.css");

@tailwind components;
@tailwind utilities;

.radix-themes {
	--default-font-family: var(--font-geist-mono);
	--container-1: calc(448px + var(--space-4) * 2);
	--container-2: calc(688px + var(--space-4) * 2);
	--container-3: calc(880px + var(--space-4) * 2);
	--container-4: calc(1136px + var(--space-4) * 2);
}

* {
	@apply box-border relative min-w-0;
}

body {
	@apply min-h-screen;
}

h1,
h2,
h3,
h4 {
	@apply text-balance;
}

p {
	@apply text-pretty;
}

::selection {
	@apply !bg-accent-10;
	@apply !text-gray-1;
}
