/*
  xt256.css

  Contact: initbar [at] protonmail [dot] ch
         : github.com/initbar
*/

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
}

pre:has(.hljs),
.hljs {
	color: var(--white-8);
	background: var(--gray-2);
	border-radius: var(--radius-4);
	font-family: var(--default-font-family);
}

pre:has(.hljs) {
	padding: 1.5em;
	border: 1px solid var(--gray-5);
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.hljs-subst {
	color: #eaeaea;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}

.hljs-type {
	color: var(--accent-12);
}

.hljs-params {
	color: var(--accent-7);
}

.hljs-literal,
.hljs-number,
.hljs-name {
	color: var(--accent-7);
	font-weight: bolder;
}

.hljs-comment {
	color: var(--gray-10);
}

.hljs-selector-id,
.hljs-quote {
	color: var(--accent-10);
}

.hljs-template-variable,
.hljs-variable,
.hljs-title {
	color: var(--accent-10);
	font-weight: bold;
}

.hljs-selector-class,
.hljs-keyword,
.hljs-symbol {
	color: var(--yellow-11);
}

.hljs-string,
.hljs-bullet {
	color: var(--tomato-11);
}

.hljs-tag,
.hljs-section {
	color: var(--accent-12);
}

.hljs-selector-tag {
	color: var(--accent-10);
	font-weight: bold;
}

.hljs-attribute,
.hljs-built_in,
.hljs-regexp,
.hljs-link {
	color: #ff00ff;
}

.hljs-meta {
	color: #fff;
	font-weight: bolder;
}
