.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
}

pre:has(.hljs),
.hljs {
	color: var(--gray-11);
	background: var(--gray-2);
	border-radius: var(--radius-4);
	font-family: var(--default-font-family);
	font-weight: 400;
}

pre:has(.hljs) {
	padding: 1.5em;
	border: 1px solid var(--gray-5);
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.hljs-subst {
	color: var(--gray-1);
}

.hljs-string,
.hljs-title,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
	color: var(--violet-9);
}

.hljs-comment,
.hljs-quote {
	color: var(--violet-9);
}

.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-type,
.hljs-link {
	color: var(--violet-9);
}

.hljs-deletion,
.hljs-meta {
	color: var(--yellow-10);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-tag,
.hljs-name {
	font-weight: 900;
	color: var(--jade-8);
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: 900;
}
