:root {
	--gruvbox-bg: #282828;
	--gruvbox-fg: #ebdbb2;
	--gruvbox-red: #fb4934;
	--gruvbox-green: #b8bb26;
	--gruvbox-yellow: #fabd2f;
	--gruvbox-blue: #83a598;
	--gruvbox-purple: #d3869b;
	--gruvbox-aqua: #8ec07c;
	--gruvbox-gray: #a89984;
}

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	color: var(--gruvbox-fg);
}

pre:has(.hljs),
.hljs {
	border-radius: var(--radius-4);
	font-family: var(--default-font-family);
	font-weight: 400;
}

pre:has(.hljs) {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border: 0.5px solid var(--gruvbox-gray);
}

.hljs-subst {
	color: var(--gruvbox-fg);
}

.hljs-title,
.hljs-name {
	color: var(--gruvbox-green);
	font-weight: bold;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
	color: var(--gruvbox-green);
}

.hljs-comment,
.hljs-quote {
	color: var(--gruvbox-gray);
	font-style: italic;
}

.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-type,
.hljs-link {
	color: var(--gruvbox-purple);
}

.hljs-deletion,
.hljs-meta {
	color: var(--gruvbox-red);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-doctag,
.hljs-section,
.hljs-built_in,
.hljs-tag {
	color: var(--gruvbox-red);
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}
